/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FUNDO */
body {
  background: #0a0a0a;
  color: #fff;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

header .header {
  width: 100%;
  height: 2rem;
  background-color: #d4af37 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(20, 20, 20, 0.9);
  padding: 1rem 12rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 10rem;

  .logo {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
    .card-logo {
      padding: 0.8rem 0.6rem;
      background-color: #d4af37;
      border-radius: 0.4rem;
    }
    .descricao-logo {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1.8rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
}
/* CONTAINER */
.container {
  padding: 15px;
}

/* GRID DE PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* CARD PRODUTO */
.card {
  .card {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  }
}

.card:hover {
  transform: scale(1.03);
  border-color: #d4af37;
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

/* NOME */
.card h3 {
  font-size: 14px;
  margin: 5px 0;
}

/* PREÇO */
.card p {
  color: #d4af37;
  font-weight: bold;
}

/* BOTÃO */
.card button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #8b0000;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
}

.card button:hover {
  background: #d4af37;
  color: black;
}

.card button:active {
  transform: scale(0.95);
}

/* BOTÃO FLUTUANTE */
.cart-float {
  background: #8b0000;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.cart-float span {
  top: -5px;
  right: -5px;
  background: #d4af37;
  color: black;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

/* CARRINHO */
.carrinho {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background: #111;
  padding: 15px;
  transition: 0.3s;
  z-index: 1000;
  border-left: 2px solid #d4af37;
  backdrop-filter: blur(10px);
  background: rgba(20, 20, 20, 0.9);
}

.carrinho.ativo {
  right: 0;
}

/* INPUTS */
.carrinho input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
}

/* ITEM */
.item {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #333;
}

/* CONTROLES */
.qty {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.qty button {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
  cursor: pointer;
}

.qty button:hover {
  background: #d4af37;
  color: black;
}

/* TOTAL */
.carrinho h3 {
  margin-top: 10px;
  color: #d4af37;
}

/* BOTÕES */
.carrinho button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

/* LIMPAR */
.carrinho button:nth-child(6) {
  background: #444;
  color: white;
}

/* FINALIZAR */
.finalizar {
  background: #8b0000;
  color: white;
}

.finalizar:hover {
  background: #d4af37;
  color: black;
}

#toast {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: #d4af37;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
  font-weight: bold;
}

#toast.show {
  opacity: 1;
  transform: translateY(0);
}

.banner {
  background: linear-gradient(90deg, #8b0000, #d4af37);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}


.input-group {
 position: relative;
}

.input {
 border: solid 1.5px #9e9e9e;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1); 
}

.user-label {
 position: absolute;
 left: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 border: 1.5px solid #1a73e8;
}

.input:focus ~ label, input:valid ~ label {
 transform: translateY(-50%) scale(0.8);
 background-color: #212121;
 padding: 0 .2em;
 color: #2196f3;
}